@model Web2.Models.ClientIndexModel

@{
    ViewBag.Title = "GetProductItem";
}

<h2>GetProductItem</h2>

<p>IdProduct: @Model.product.IdProduct</p>
<p>NameProduct:@Model.product.NameProduct</p>
<p>CodeProduct:@Model.product.CodeProduct</p>
<p>QuanlityProduct: @Model.product.QualityProduct</p>
